@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply h-1 w-1;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-400;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-500;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-200;
}

::-webkit-scrollbar-track:hover {
  @apply bg-neutral-300;
}

::-webkit-scrollbar-button {
  display: none;
}

.page-wrapper > * {
  @apply px-2 md:px-4 lg:px-6;
}
.page-wrapper > nav {
  @apply h-[8%];
}
.page-wrapper > div {
  @apply h-[92%];
}

.tremor-TableHeaderCell-root {
  @apply bg-indigo-50 text-black;
}
.tremor-TableCell-root {
  @apply font-medium;
}

.tremor-SearchSelectItem-root > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

[data-radix-popper-content-wrapper] {
  left: -10px !important;
}
